@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

main{
    display: flex;
}

:root {
    --white: #fff;
    --whitesmoke: #f9f9f9;
    --light-grey: #ececec;
    --grey: #C4C4C4;
    --medium-grey: #a7a7a7;
    --deep-grey: #343434;
    --black: #000;
    --blue: #1B77F3;
    --red: #CF3C3F;
}


.divisao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
    background-color: #F2475A;
}


.logo-login{
    width: 200px;
    margin-bottom: 80px;
}

.title-login {
    color: #EEE5E6;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.label-login {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.input {
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 20px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}

.label-login span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 10px;
    cursor: text;
    margin: 8px 10px;
}


.input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.login_icons {
    display:flex;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}


.login_icons img {
    width: 20px;
}

.icons_button {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login_icons .icons_button:nth-child(1) {
    background-color: var(--blue);
    transition: all 700ms ease;
}
.login_icons .icons_button:nth-child(1):hover {
    transform: scale(1.2);
}

.login_icons .icons_button:nth-child(2) {
    background-color: var(--light-grey);
    transition: all 700ms ease;
}

.login_icons .icons_button:nth-child(2):hover {
    transform: scale(1.2);
}

.login_icons .icons_button:nth-child(3) {
    background-color: var(--black);
    transition: all 700ms ease;
}

.login_icons .icons_button:nth-child(3):hover {
    transform: scale(1.2);
}

.login_label_checkbox {
    width: 100%;
    margin: 15px 0 50px;
    font-size: 0.9em;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #EEE5E6;
}


.input_checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--light-grey);
    margin-right: 8px;
    border-radius: 3px;
}


.input_checkbox:checked{
    background-color: var(--red);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input_checkbox:checked:after {
    content: "";
    display:block;
    width: 5px;
    height: 10px;
    border: 3px solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 2px 6px;
}


.login_button {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 700ms ease;
    
}

.login_button:hover {
    transform: scale(1.1);
}


.login_button svg {
    fill: white;
}

.login_button:disabled {
    cursor: auto;
    background-color: white;
    border: 2px solid var(--light-grey);
    box-shadow: none;
    transform: none;
}

.login_button:disabled svg {
    fill: var(--grey);
}


.login_link {
    font-size: 0.8em;
    text-decoration: none;
    color: #EEE5E6;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
    transition: all 700ms ease;
}

.login_link:hover {
    transform: scale(1.2);
}


#rotacao-slides {
    width: 100%;
    position: relative;
}


#rotacao-slides img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:fill;
    flex: 1;
    background-position: center;
    opacity: 0;
}

#rotacao-slides img.imgPrimaria {
    opacity: 1;
}





